---
import Header from 'layouts/Header/index';
import Footer from 'layouts/Footer/index';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preload" as="image" href="/assets/images/webp/hero-mobile.webp" type="image/webp">
  <link rel="preload" as="image" href="/assets/images/webp/hero-mobile-2x.webp" type="image/webp">
  <link rel="preload" as="image" href="/assets/images/webp/hero-desktop.webp" type="image/webp">
  <link rel="preload" as="image" href="/assets/images/webp/bg-hero-mobile.webp" type="image/webp">
  <link rel="preload" as="image" href="/assets/images/webp/bg-hero-desktop.webp" type="image/webp">
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="preconnect stylesheet">
  <meta name="description" content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria." />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Vaccination.ng - COVID-19 Vaccination Got Easier" />
  <meta property="og:description" content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria." />
  <meta name="twitter:title" content="Vaccination.ng - COVID-19 Vaccination Got Easier">
  <meta name="twitter:description"
    content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria.">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</html>

<body class="min-h-screen m-0 font-primary text-white dark:text-primary text-xl">
  <!-- Header -->
  <Header />

  <!-- Main -->
  <main class="bg-white">
    <slot />
  </main>

  <!-- Footer -->
  <Footer />
</body>
<script defer>
  // Develop switch theme color
  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark')
  }

  const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
  const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

  // Change the icons inside the button based on previous settings
  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      themeToggleLightIcon.classList.remove('hidden');
  } else {
      themeToggleDarkIcon.classList.remove('hidden');
  }

  const themeToggleBtn = document.getElementById('theme-toggle');

  themeToggleBtn.addEventListener('click', function() {
    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle('hidden');
    themeToggleLightIcon.classList.toggle('hidden');

    // if set via local storage previously
    if (localStorage.getItem('color-theme')) {
      if (localStorage.getItem('color-theme') === 'light') {
        document.documentElement.classList.add('dark');
        localStorage.setItem('color-theme', 'dark');
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('color-theme', 'light');
      }

    // if NOT set via local storage previously
    } else {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('color-theme', 'light');
      } else {
        document.documentElement.classList.add('dark');
        localStorage.setItem('color-theme', 'dark');
      }
    }
  });
</script>
</html>
