---
import Header from 'layouts/Header/index';
import Footer from 'layouts/Footer/index';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="preconnect stylesheet">
  <meta name="description"
    content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria." />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Vaccination.ng - COVID-19 Vaccination Got Easier" />
  <meta property="og:description"
    content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria." />
  <meta name="twitter:title" content="Vaccination.ng - COVID-19 Vaccination Got Easier">
  <meta name="twitter:description"
    content="Vaccination.ng will help you find the nearest centre for vaccination, in all 36 states in Nigeria.">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>

<body class="bg-primary min-h-screen m-0 font-primary text-white text-xl">
  <!-- Header -->
  <Header />

  <!-- Main -->
  <main>
    <slot />
  </main>

  <!-- Footer -->
  <Footer />
</body>

</html>
