---
import Container from 'components/Container';
import ResponsiveImage from 'components/ResponsiveImage';
import { COMPANY_IMAGES } from 'constants/images';

const {
  COMPANY_MODERNA,
  COMPANY_PFIZER,
  COMPANY_ASTRAZENECA,
  COMPANY_SINOVAC
} = COMPANY_IMAGES;
---

<section class="bg-white">
  <Container>
    <ul class="flex items-center justify-center gap-3 py-[5px] md:py-3 md:gap-6 lg:py-[22px] lg:gap-12">
      <li>
        <ResponsiveImage
          alt="Moderna Company"
          width={{
            default: '72px',
            mobile: '72px',
            mobile2x: '144px',
            tablet: '148px',
            desktop: '289px',
          }}
          height={{
            default: '17px',
            mobile: '17px',
            mobile2x: '34px',
            tablet: '34px',
            desktop: '67px',
          }}
          url={{
            default: COMPANY_MODERNA.DEFAULT,
            mobile: COMPANY_MODERNA.MOBILE,
            mobile2x: COMPANY_MODERNA.MOBILE2X,
            tablet: COMPANY_MODERNA.TABLET,
            desktop: COMPANY_MODERNA.DESKTOP,
          }}
        />
      </li>
      <li>
        <ResponsiveImage
          alt="Pfizer Company"
          width={{
            default: '72px',
            mobile: '72px',
            mobile2x: '144px',
            tablet: '148px',
            desktop: '289px',
          }}
          height={{
            default: '30px',
            mobile: '30px',
            mobile2x: '60px',
            tablet: '61px',
            desktop: '118px',
          }}
          url={{
            default: COMPANY_PFIZER.DEFAULT,
            mobile: COMPANY_PFIZER.MOBILE,
            mobile2x: COMPANY_PFIZER.MOBILE2X,
            tablet: COMPANY_PFIZER.TABLET,
            desktop: COMPANY_PFIZER.DESKTOP,
          }}
        />
      </li>
      <li>
        <ResponsiveImage
          alt="AstraZeneca Company"
          width={{
            default: '72px',
            mobile: '72px',
            mobile2x: '144px',
            tablet: '148px',
            desktop: '289px',
          }}
          height={{
            default: '21px',
            mobile: '21px',
            mobile2x: '42px',
            tablet: '42px',
            desktop: '82px',
          }}
          url={{
            default: COMPANY_ASTRAZENECA.DEFAULT,
            mobile: COMPANY_ASTRAZENECA.MOBILE,
            mobile2x: COMPANY_ASTRAZENECA.MOBILE2X,
            tablet: COMPANY_ASTRAZENECA.TABLET,
            desktop: COMPANY_ASTRAZENECA.DESKTOP,
          }}
        />
      </li>
      <li>
        <ResponsiveImage
          alt="Sinovac Company"
          width={{
            default: '72px',
            mobile: '72px',
            mobile2x: '144px',
            tablet: '148px',
            desktop: '289px',
          }}
          height={{
            default: '15px',
            mobile: '15px',
            mobile2x: '30px',
            tablet: '30px',
            desktop: '58px',
          }}
          url={{
            default: COMPANY_SINOVAC.DEFAULT,
            mobile: COMPANY_SINOVAC.MOBILE,
            mobile2x: COMPANY_SINOVAC.MOBILE2X,
            tablet: COMPANY_SINOVAC.TABLET,
            desktop: COMPANY_SINOVAC.DESKTOP,
          }}
        />
      </li>
    </ul>
  </Container>
</section>
