---
import Container from "components/Container";
import Paragraph from "components/Paragraph";
import Card from "components/Card";
import { FEEDBACK_IMAGES } from "constants/images";

const { AVATAR_ONE, AVATAR_TWO, AVATAR_THREE } = FEEDBACK_IMAGES;
---

<section class="bg-feedback-mobile bg-no-repeat bg-cover pt-[30px] pb-11 md:pt-[46px] md:pb-[59px] md:bg-feedback-tablet lg:bg-feedback-desktop lg:pb-[106px] lg:pt-[57px] lg:bg-center lg:min-h-[750px]">
  <Container>
    <ul class="flex flex-col text-center items-center mb-4 md:mb-[60px]">
      <li class="mb-5">
        <Paragraph
          className="text-secondary sm:text-sm"
          type="sub_heading"
          tag="p"
          title="FEEDBACK"
        />
      </li>
      <li>
        <Paragraph
          className="font-extrabold text-black mb-2.5 md:mb-10"
          type="heading"
          tag="h2"
          title="What our Patients Think"
        />
      </li>
      <li class="px-[35px] lg:px-0 lg:max-w-[963px]">
        <Paragraph
          className="text-black/50"
          type="description"
          tag="p"
          title="Adipiscing nec etiam tortor elit quisque. Arcu aliquet convallis aenean eu velit. Mi vestibulum, ullamcorper venenatis imperdiet augue arcu ue."
        />
      </li>
    </ul>
    <div class="flex flex-col gap-[30px] mx-auto max-w-[305px] md:max-w-[400px] lg:flex-row lg:gap-[45px] lg:max-w-full">
      <Card
        className="flex leading-base text-center bg-tertiary-50 text-black/60"
        src={AVATAR_ONE.url}
        alt="Oyindamola Maja"
        title="Oyindamola Maja"
        description="Badagry, Lagos"
      >
        <p class="text-xs px-[20px] md:text-lg md:px-0">“Been stressing about a close centre to get the <span class="text-secondary">covid-19</span> vaccine, until i tried Vaccination.ng”</p>
      </Card>
      <Card
        className="flex text-center bg-secondary text-white"
        src={AVATAR_TWO.url}
        alt="Okeowo Lekan"
        title="Okeowo Lekan"
        description="Ikeja, Lagos"
        type="secondary"
      >
        <p class="text-white text-xs md:text-lg">“Got my vaccine very close to my house. Was very easy scheduling an appointment.”</p>
      </Card>
      <Card
        className="flex text-center bg-tertiary-50 text-black/60"
        src={AVATAR_THREE.url}
        alt="Kafaru Temitope"
        title="Kafaru Temitope"
        description="Obanikoro, Lago"
      >
        <p class="text-xs md:text-lg">“Been stressing about a close centre to get the <span class="text-secondary">covid-19</span> vaccine, until i tried Vaccination.ng”</p>
      </Card>
    </div>
  </Container>
</section>
