---
import Container from 'components/Container';
import FormControl from 'components/FormControl';
import Paragraph from 'components/Paragraph';
import ResponsiveImage from 'components/ResponsiveImage';
import { VACCINE_REGISTRATION } from 'constants/images';
---

<section class="bg-vaccine-registration-mobile bg-no-repeat bg-cover md:bg-vaccine-registration-tablet lg:bg-vaccine-registration-desktop">
  <Container>
    <div class="flex flex-col pt-[35px] pb-[41px] md:pt-10 md:pb-[49px] lg:pb-[33px] lg:flex-row-reverse lg:justify-between">
      <Paragraph
        className="flex text-center text-black md:text-left md:max-w-[586px] lg:hidden"
        type="heading"
        tag="h2"
        title="Get your vaccine registration today"
      />
      <ResponsiveImage
        alt="Hero"
        width={{
          default: '305px',
          mobile: '305px',
          mobile2x: '610px',
          tablet: '401px',
          desktop: '401px',
        }}
        height={{
          default: '437px',
          mobile: '437px',
          mobile2x: '874px',
          tablet: '575px',
          desktop: '575px',
        }}
        url={{
          default: VACCINE_REGISTRATION.DEFAULT,
          mobile: VACCINE_REGISTRATION.MOBILE,
          mobile2x: VACCINE_REGISTRATION.MOBILE2X,
          tablet: VACCINE_REGISTRATION.TABLET,
          desktop: VACCINE_REGISTRATION.DESKTOP,
        }}
        className="mt-5 mb-[38px] md:mt-10 md:mb-[70px] lg:my-0"
      />
      <div class="flex flex-col lg:gap-10">
        <Paragraph
          className="hidden text-black lg:flex lg:text-left lg:max-w-[452px]"
          type="heading"
          tag="h2"
          title="Get your vaccine registration today"
        />
        <FormControl />
      </div>
    </div>
  </Container>
</section>
