---
import Container from 'components/Container';
import Button from 'components/Button';
import Input from 'components/Input';
import Heading from 'components/Heading';
import ResponsiveImage from 'components/ResponsiveImage';
import { VACCINE_REGISTRATION } from 'constants/images';
---

<section class="bg-vaccine-registration-mobile bg-no-repeat bg-cover md:bg-vaccine-registration-tablet lg:bg-vaccine-registration-desktop">
  <Container>
    <div class="flex flex-col pt-[35px] pb-[41px] md:pt-10 md:pb-[49px] lg:pb-[33px] lg:flex-row-reverse lg:justify-between">
      <Heading className="flex text-center text-black md:text-left md:max-w-[586px] lg:hidden">
        Get your vaccine registration today
      </Heading>
      <ResponsiveImage
        alt="Hero"
        width={{
          default: '305px',
          mobile: '305px',
          mobile2x: '610px',
          tablet: '401px',
          desktop: '401px',
        }}
        height={{
          default: '437px',
          mobile: '437px',
          mobile2x: '874px',
          tablet: '575px',
          desktop: '575px',
        }}
        url={{
          default: VACCINE_REGISTRATION.default,
          mobile: VACCINE_REGISTRATION.mobile,
          mobile2x: VACCINE_REGISTRATION.mobile2x,
          tablet: VACCINE_REGISTRATION.tablet,
          desktop: VACCINE_REGISTRATION.desktop,
        }}
        className="mt-5 mb-[38px] md:mt-10 md:mb-[70px] lg:my-0"
      />
      <div class="flex flex-col lg:gap-10">
        <Heading className="hidden text-black lg:flex lg:text-left lg:max-w-[452px]">
          Get your vaccine registration today
        </Heading>
        <form class="flex flex-col gap-5 max-w-[668px]">
          <div class="flex flex-col gap-5 md:gap-[25px]">
            <label class="font-bold leading-base text-black text-sm md:text-xl">
              Patient’s Full Name
            </label>
            <Input
              type="text"
              placeholder="Full name"
              className="bg-input-registration text-primary rounded-[10px] py-4 px-5 focus:outline-none placeholder:font-medium placeholder:text-black/25 text-sm md:text-xl md:rounded-[20px] md:py-[23px] md:px-[30px] lg:py-5"
            />
          </div>
          <div class="flex flex-col gap-5 md:gap-[25px]">
            <label class="font-bold leading-base text-black text-sm md:text-xl">
              Mobile Number
            </label>
            <p class="text-sm text-black/50 font-medium leading-base md:text-xl">
              Notifications for appointment and reminders will be sent to this provided number
            </p>
            <div class="flex flex-col gap-5 md:flex-row md:items-center md:gap-[50px] lg:gap-9">
              <div class="relative flex items-center w-full">
                <ul class="flex gap-[5px] px-5 absolute">
                  <li>
                    <img class="cursor-pointer" width="40px" height="40px" src="assets/images/svg/nigeria.svg" alt="Nigeria">
                  </li>
                  <li class="flex">
                    <img class="cursor-pointer" width="24px" height="24px" src="assets/images/svg/chevron-down.svg" alt="Chevron-down">
                  </li>
                  <li class="border-r-2 border-black/10"></li>
                </ul>
                <Input
                  type="number"
                  placeholder="Phone number"
                  className="[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none bg-input-registration text-primary rounded-[10px] py-4 px-5 pl-[114px] focus:outline-none placeholder:font-medium placeholder:text-black/25 text-sm md:text-xl md:rounded-[20px] md:py-[23px] md:px-[30px] md:pl-[134px] lg:py-5"
                />
              </div>
              <Button
                type="secondary"
                className="flex justify-center w-[150px] h-[50px] px-[70px] rounded-[10px] md:w-[201px] md:h-[70px] md:rounded-[20px] md:text-xl lg:text-2xl"
              >
                Verify
              </Button>
            </div>
          </div>
          <Button type="secondary" className="flex justify-center rounded-[10px] text-sm mt-10 md:text-xl md:mt-5 md:rounded-[20px] lg:text-2xl">
            Submit
          </Button>
          <ul class="flex justify-between text-sm md:text-xl md:mt-5 md:justify-center md:gap-[46px]">
            <li class="font-semibold text-black/50">
              Already registered ?
            </li>
            <li class="font-bold text-secondary">
              Check your status
            </li>
          </ul>
        </form>
      </div>
    </div>
  </Container>
</section>
