---
type ButtonType = 'primary' | 'secondary';
export interface ButtonProps {
  type: ButtonType;
  className?: string;
  id?: string;
}

const {
  className = '',
  type = 'primary',
  id,
} = Astro.props;
const theme = {
  primary: 'bg-primary',
  secondary: 'bg-secondary',
};
---

<button id={id} class={`${theme[type as ButtonType]} py-5 px-[25px] flex items-center justify-center text-sm leading-base font-bold ${className}`}>
  <slot />
</button>
