---
export interface CardProps {
  className?: string;
  title?: string;
  body: string;
}

const { className = '', href, title, body } = Astro.props;
---

<li class={`${className} flex text-secondary bg-primary w-[188px] p-5 border border-solid rounded-[20px]`}>
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
