---
export interface HeadingProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<h2 class={`font-primary font-bold text-2xl md:text-4xl lg:text-5xl leading-base ${className}`}>
  <slot />
</h2>
