---
  import Layout from 'layouts/Layout';
  import Card from 'components/Card';
---

<Layout title="Vaccination Page">
  <main class="m-auto p-4 w-[800px] text-secondary text-xl">
    <h1 class="p-8">COVID-19 Vaccination Got Easier With, <span class="text-tertiary">Vaccination.ng</span></h1>
    <ul>
      <Card href="https://docs.astro.build/" title="Documentation"
        body="Learn how Astro works and explore the official API docs." />
    </ul>
  </main>
</Layout>
